@using RoadworksWarsaw.Models.RoadworksInfo
@model OpenInvests

@{
    ViewData["Title"] = "Home Page";

}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Street</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Last modify date</th>
            <th>Duration in days</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Result.Items.InvestItem)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Street</td>
                <td>@item.StartDate.ToString("d")</td>
                <td>@item.EndDate.ToString("d")</td>
                <td>@item.LastModifyDate</td>
                <td>@item.Duration.Days</td>
            </tr>

        }
    </tbody>
</table>

